<div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-0 sm:py-0 lg:py-0">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-3xl px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"><div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class=" text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Customers List</h2>
          </div>
          <table class="table-auto">
            <thead>
              <tr>
                <th>Name</th>
                <th>Relationship Start</th>
                <th>Activity Type</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients$ | async">
                <td>{{ client.name }}</td>
                <td>{{ client.relationship_start | date }}</td>
                <td>{{ client.activity_type }}</td>
                <td>{{ client.info_email }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        
          
        
        </div>
      </div>
      
    </div>
  
  </div>