<div class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto py-0 sm:py-0 lg:py-0">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      <div class="relative rounded-3xl px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"><div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="mb-5 flex flex-row justify-between">
          <h2 class=" text-start text-2xl font-bold leading-9 tracking-tight text-gray-900">Customers List</h2>
          <button class="cursor-pointer -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" (click)="openModal()"><span class="mr-2">&plus;</span>Add</button>
        </div>
        <table class="table-auto border-collapse border border-slate-400">
          <thead>
            <tr class="">
              <th class="bg-slate-200 border border-slate-300 pl-5 pr-5 pt-2 pb-2">Name</th>
              <th class="bg-slate-200 border border-slate-300 pl-5 pr-5 pt-2 pb-2">Relationship Start</th>
              <th class="bg-slate-200 border border-slate-300 pl-5 pr-5 pt-2 pb-2">Activity Type</th>
              <th class="bg-slate-200 border border-slate-300 pl-5 pr-5 pt-2 pb-2">Email</th>
              <th class="bg-slate-200 border border-slate-300 pl-5 pr-5 pt-2 pb-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients$ | async">
              <td class="border border-slate-300 pr-5 pl-2">{{ client.name }}</td>
              <td class="border border-slate-300 pr-5 pl-2">{{ client.relationship_start | date }}</td>
              <td class="border border-slate-300 pr-5 pl-2">{{ client.activity_type }}</td>
              <td class="border border-slate-300 pr-5 pl-2">{{ client.info_email }}</td>
              <td class="border border-slate-300 pr-5 pl-2 text-center">
                <button class="ml-3 text-xl" [routerLink]="['/clients', client.id]"><span aria-hidden="true">&#9998;</span></button>
                <button class="ml-5 text-xl" (click)="confirmDeleteClient(client.id!)"><span aria-hidden="true">&#9746;</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto p-4">
    
  <app-modal [showModal]="showModal" (closeModal)="closeModal()">
    <div *ngIf="deleteClientId !== null">
      <h2 class="text-lg mb-4">Confirm Delete</h2>
      <p>Are you sure you want to delete this client?</p>
      <button (click)="deleteClient()" class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
      <button (click)="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
    </div>
    <div *ngIf="deleteClientId === null">
      <h2 class="text-lg mb-4">Add Client</h2>
      <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
        <div class="mb-4">
          <label class="block text-gray-700">Name</label>
          <input formControlName="name" class="border rounded px-4 py-2 w-full">
          <div *ngIf="clientForm.get('name')?.invalid && (clientForm.get('name')?.dirty || clientForm.get('name')?.touched)" class="text-red-500">
            Name is required.
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Relationship Start</label>
          <input type="date" formControlName="relationship_start" class="border rounded px-4 py-2 w-full">
          <div *ngIf="clientForm.get('relationship_start')?.invalid && (clientForm.get('relationship_start')?.dirty || clientForm.get('relationship_start')?.touched)" class="text-red-500">
            Relationship start date is required.
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">City</label>
          <input formControlName="address_city" class="border rounded px-4 py-2 w-full">
          <div *ngIf="clientForm.get('address_city')?.invalid && (clientForm.get('address_city')?.dirty || clientForm.get('address_city')?.touched)" class="text-red-500">
            City is required.
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Postal Code</label>
          <input formControlName="address_postal_code" 
          class="border rounded px-4 py-2 w-full" 
          (input)="onPostalCodeInput($event)"
          maxlength="7" 
          placeholder="A1A 1A1">
          <div *ngIf="clientForm.get('address_postal_code')?.invalid && (clientForm.get('address_postal_code')?.dirty || clientForm.get('address_postal_code')?.touched)" class="text-red-500">
            Postal code is required and must be in the format A1A 1A1.
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Street</label>
          <input formControlName="address_street" class="border rounded px-4 py-2 w-full">
          <div *ngIf="clientForm.get('address_street')?.invalid && (clientForm.get('address_street')?.dirty || clientForm.get('address_street')?.touched)" class="text-red-500">
            Street is required.
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Apartment</label>
          <input formControlName="address_apt" class="border rounded px-4 py-2 w-full">
          <div *ngIf="clientForm.get('address_apt')?.invalid && (clientForm.get('address_apt')?.dirty || clientForm.get('address_apt')?.touched)" class="text-red-500">
            Apartment must be at most 12 characters long.
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Activity Type</label>
          <select formControlName="activity_type" class="border rounded px-4 py-2 w-full">
            <div *ngIf="clientForm.get('activity_type')?.invalid && (clientForm.get('activity_type')?.dirty || clientForm.get('activity_type')?.touched)" class="text-red-500">
            Activity type is required.
          </div>
            <option *ngFor="let type of activityTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Info Email</label>
          <input formControlName="info_email" class="border rounded px-4 py-2 w-full">
          <div *ngIf="clientForm.get('info_email')?.invalid && (clientForm.get('info_email')?.dirty || clientForm.get('info_email')?.touched)" class="text-red-500">
            Info email is required and must be a valid email address.
          </div>
        </div>
        <div class="flex justify-end">
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
          <button type="button" (click)="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </app-modal>
</div>