<div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto py-0 sm:py-0 lg:py-0">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-3xl px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"><div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
          <div class="mb-5 flex flex-row justify-between">
            <h2 class=" text-start text-2xl font-bold leading-9 tracking-tight text-gray-900">Customers List</h2>
            <button class="cursor-pointer -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"><span class="mr-2">&plus;</span>Add</button>
          </div>
          
        </div>
      </div>
      
    </div>
  
  </div>